<div nz-row>
    <div nz-col nzSpan="12">
        <nz-table #basicTable [nzData]="todos">
            <thead>
              <tr>
                <th>Title</th>
                <th>Done</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of todos">
                <td>{{ todo.title }}</td>
                <td>{{ todo.done }}</td>
                <td>
                    <button nz-button nzType="primary" nzDanger (click)="deleteTodo(todo._id)">Delete</button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" nzDanger (click)="updateTodo(todo._id)">Edit</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
    <div nz-col nzSpan="8" nzOffset="4">
        <h1 *ngIf="!isUpdate">Add new todo</h1>
        <h1 *ngIf="isUpdate">Edit todo</h1>
        <div>
            <form>
                <label>
                    <h4>Title</h4>
                    <input type="text" [(ngModel)]="todo.title" [(ngModel)]="todoDetail.title" name="title" />
                </label>
                <label>
                    <h4>Done </h4>
                    <input type="checkbox" [(ngModel)]="todo.done" [(ngModel)]="todoDetail.done" name="done" />

                </label>
                <div *ngIf="!isUpdate">
                    <button nz-button nzType="primary" type="submit" nzDanger (click)="createTodo()">Add</button>
                </div>
                <div *ngIf="isUpdate">
                    <button nz-button nzType="primary" nzDanger (click)="putTodo(todoDetail,todoDetail._id)">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
