<ul nz-menu nzMode="horizontal" *ngIf="isLogedIn()">
    <li nz-menu-item nzSelected>
        <a (click)="logout()"  [routerLink]="[ '/' ]"><i nz-icon nzType="logout" nzTheme="outline"></i></a>
        Logout
    </li>
</ul>
