<form nz-form (ngSubmit)="createTodo()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="todo.title">Title</nz-form-label>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nz-checkbox nzFor="todo.done" nzRequired>Done</nz-form-label>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
      <button nz-button nzType="primary" type="submit">Add</button>
  </nz-form-item>
</form>