<div style="background: #ECECEC;padding:30px; flex: auto;" nz-row nzJustify="space-around" nzAlign="middle">
  <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Login">
    <form nz-form class="login-form" [formGroup]="form" (ngSubmit)="login(form)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form_item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
      </nz-form_item>
    </form>
  </nz-card>
</div>