/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

[nz-page-header]{
    margin-top: auto;
}

