<div>
    <h1>Add new todo</h1>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="createTodo(form)">
        <label>
          <h4>Title</h4>
          <input
            [class.error]="
              titleControl.invalid &&
              (titleControl.dirty || titleControl.touched || submitted)
            "
            formControlName="title"
            type="text"
          />
          <div
            *ngIf="
              titleControl.invalid &&
              (titleControl.dirty || titleControl.touched || submitted)
            "
            class="form__error"
          >
            <p>Must be filled</p>
          </div>
        </label>
        <label>
          <h4>Done </h4>
          <input
            [class.error]="
              doneControl.invalid &&
              (doneControl.dirty || doneControl.touched || submitted)
            "
            formControlName="done"
            type="checkbox"
          />
          <div
            *ngIf="
              doneControl.invalid &&
              (doneControl.dirty || doneControl.touched || submitted)
            "
            class="form__error"
          >
            <p>Must be filled</p>
          </div>
        </label>
  
        <h4 >PLACING</h4>
  
        <div>
          <button type="submit">PUBLISH</button>
        </div>
      </form>
    </div>
  </div>